In [21]:
import ipywidgets as widgets
from IPython.display import display
import ipysheet
import pandas as pd

In [22]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [24, 30, 22, 32],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)

In [23]:
display(df)

      Name  Age           City
0    Alice   24       New York
1      Bob   30  San Francisco
2  Charlie   22    Los Angeles
3    David   32        Chicago

In [26]:
sheet = ipysheet.sheet(rows  = 5, columns= 3)
sheet

Sheet(columns=5, layout=Layout(height='auto', width='auto'))

In [25]:
sheet = ipysheet.sheet(rows=3, columns=4)
cell1 = ipysheet.cell(0, 0, 'Hello')
cell2 = ipysheet.cell(2, 0, 'World')
cell_value = ipysheet.cell(2,2, 42.)
sheet

Sheet(cells=(Cell(column_end=0, column_start=0, row_end=0, row_start=0, type='text', value='Hello'), Cell(coluâ€¦